<div id="bev-order" class="jumbotron">
  <h1>Order a new beverage</h1>
  <br>
  <%= form_for(:beverage, url:"/beverages") do |f| %>
    <%= f.hidden_field :user_id, value: @user.id %>

    <%= f.label "What beverage do you want?" %></br>
    <%= f.select(:selection, ['Beer', 'Wine', 'Cocktail', 'Water', 'Soda', 'Juice', 'Coffee', 'Tea', 'Other'], :class => "form-control") %>
    <hr>
    <%= f.submit "Order" %>
  <% end %>
</div>